<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.DAO.MentorReviewDAO">

    <!-- 멘토 ID로 리뷰 조회 -->
    <select id="getReviewsByMentorId" resultType="MentorReviewVO">
        SELECT * FROM mentor_review WHERE mentor_id = #{mentorId}
    </select>

    <!-- 리뷰 등록 -->
<insert id="insertReview" parameterType="MentorReviewVO"
        useGeneratedKeys="true" keyProperty="reviewId">
    INSERT INTO mentor_review (rating, mentee_id, mentor_id, feedback)
    VALUES (#{rating}, #{menteeId}, #{mentorId}, #{feedback})
</insert>


    <!-- 평균 평점 업데이트 -->
    <update id="updateMentorAverageScore">
        UPDATE mentor
        SET score = (
            SELECT ROUND(AVG(rating), 1)
            FROM mentor_review
            WHERE mentor_id = #{mentorId}
        )
        WHERE mentor_id = #{mentorId}
    </update>

</mapper>
